.profile-image {
    border-radius: 10px;
    height: 128px;
    width:128px;
}

.profile-section.override-bs {
    border-left: 5px solid rgb(214, 214, 214);
}

.tab-image {
    height: 48px;
    width: 48px;
}