.card-img-height.override-bs {
    max-height: 100px;
    width: auto;
}

.detail-image.override-bs {
    border-radius: 10px;
    max-height: 350px;
    width: auto;
}

.rating-right.override-bs {
    margin-left: auto
}

.seller-link.override-bs {
    font-weight: bold;
}

.gold-star.override-bs {
    color : rgb(212, 175, 55);
}

.custom-border-light.override-bs {
    border-color: rgb(226,226,226);
}