.remove-decorations {
    text-decoration: none;
}

.button-group-border.override-bs {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.background-color-primary.override-bs {
    background-color: rgb(120,194,173);
}
.background-color-light.override-bs {
    background-color: rgb(248,249,250);
}

