

.remove-decorations.override-bs {
    text-decoration: none !important;
}

.button-group-border.override-bs {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.background-color-primary.override-bs {
    background-color: rgb(120,194,173);
}
.background-color-light.override-bs {
    background-color: rgb(248,249,250);
}

.color-light.override-bs {
    color: rgb(248, 249, 250);
}

.title-format.override-bs {
    font-size: 48px;
    display: inline-block;
}



.button-input-group-border.override-bs {
    border-left: 0;
}

